In [115]:
import pandas as pd
import re

In [116]:
data = pd.read_csv('./ramen_guide_shops.csv', header=None)
data.head()

                                               0
0                   1. 오사카 시/기타 구 '무기토멘스케(麦と麺助)'
1        2. 오사카 시/기타 구 '세카이이치히마나라멘야(世界一暇なラーメン屋)'
2             3. 오사카 시/후쿠시마 구 '산쿠(烈志笑魚油 麺香房 三く)'
3               4. 오사카 시/후쿠시마 구 '모에요 멘스케(燃えよ麺助)'
4  5. 오사카 시/요도가와 구 '쿠소오야지사이고노히토후리(くそオヤジ最後のひとふり)'

In [117]:
data = data[0]

In [118]:
dohuken = []
kshopname = []
jshopname = []

for temp1 in data:
    temp2 = re.sub(r'[0-9]', "", temp1)
    temp3 = temp2.split('/')
    dohuken.append(re.sub('[.-=.#/?:$}]','',temp3[0]))
    temp4 = temp3[1].split(" '")
    temp5 = temp4[1].split("(")
    kshopname.append(temp5[0])
    jshopname.append(re.sub('[)]','',temp5[1]))

In [119]:
data2 = pd.DataFrame(dohuken)
data2['kshopname'] = kshopname
data2['jshopname'] = jshopname
data2.columns = ['dohuken','kshopname','jshopname']
data2

    dohuken      kshopname      jshopname
0     오사카 시         무기토멘스케          麦と麺助'
1     오사카 시    세카이이치히마나라멘야    世界一暇なラーメン屋'
2     오사카 시             산쿠  烈志笑魚油 麺香房 三く'
3     오사카 시        모에요 멘스케         燃えよ麺助'
4     오사카 시  쿠소오야지사이고노히토후리  くそオヤジ最後のひとふり'
..      ...            ...            ...
171   돗토리 현           이노요시          いのよし'
172   시마네 현           구우카이           空海'
173   시마네 현            산요켄           三洋軒'
174   가가와 현        타소가레탄데무        黄昏タンデム'
175   가가와 현     시나소바 사누키로쿠    支那そば 讃岐ロック'

[176 rows x 3 columns]

In [120]:
data2 = data2[['dohuken','jshopname','kshopname']]
data2

    dohuken      jshopname      kshopname
0     오사카 시          麦と麺助'         무기토멘스케
1     오사카 시    世界一暇なラーメン屋'    세카이이치히마나라멘야
2     오사카 시  烈志笑魚油 麺香房 三く'             산쿠
3     오사카 시         燃えよ麺助'        모에요 멘스케
4     오사카 시  くそオヤジ最後のひとふり'  쿠소오야지사이고노히토후리
..      ...            ...            ...
171   돗토리 현          いのよし'           이노요시
172   시마네 현           空海'            구우카이
173   시마네 현           三洋軒'            산요켄
174   가가와 현        黄昏タンデム'        타소가레탄데무
175   가가와 현    支那そば 讃岐ロック'     시나소바 사누키로쿠

[176 rows x 3 columns]

In [121]:
data2['jshopname'] = data2['jshopname'].apply(lambda x : re.sub("[$']",'', x))

In [122]:
data2

    dohuken     jshopname      kshopname
0     오사카 시          麦と麺助         무기토멘스케
1     오사카 시    世界一暇なラーメン屋    세카이이치히마나라멘야
2     오사카 시  烈志笑魚油 麺香房 三く             산쿠
3     오사카 시         燃えよ麺助        모에요 멘스케
4     오사카 시  くそオヤジ最後のひとふり  쿠소오야지사이고노히토후리
..      ...           ...            ...
171   돗토리 현          いのよし           이노요시
172   시마네 현           空海            구우카이
173   시마네 현           三洋軒            산요켄
174   가가와 현        黄昏タンデム        타소가레탄데무
175   가가와 현    支那そば 讃岐ロック     시나소바 사누키로쿠

[176 rows x 3 columns]

In [123]:
data2['dohuken'] = data2['dohuken'].apply(lambda x : x.replace(' ',''))
data2

    dohuken     jshopname      kshopname
0      오사카시          麦と麺助         무기토멘스케
1      오사카시    世界一暇なラーメン屋    세카이이치히마나라멘야
2      오사카시  烈志笑魚油 麺香房 三く             산쿠
3      오사카시         燃えよ麺助        모에요 멘스케
4      오사카시  くそオヤジ最後のひとふり  쿠소오야지사이고노히토후리
..      ...           ...            ...
171    돗토리현          いのよし           이노요시
172    시마네현           空海            구우카이
173    시마네현           三洋軒            산요켄
174    가가와현        黄昏タンデム        타소가레탄데무
175    가가와현    支那そば 讃岐ロック     시나소바 사누키로쿠

[176 rows x 3 columns]

In [124]:
data2['dohuken'] = data2['dohuken'].apply(lambda x : x[:-1])
data2

    dohuken     jshopname      kshopname
0       오사카          麦と麺助         무기토멘스케
1       오사카    世界一暇なラーメン屋    세카이이치히마나라멘야
2       오사카  烈志笑魚油 麺香房 三く             산쿠
3       오사카         燃えよ麺助        모에요 멘스케
4       오사카  くそオヤジ最後のひとふり  쿠소오야지사이고노히토후리
..      ...           ...            ...
171     돗토리          いのよし           이노요시
172     시마네           空海            구우카이
173     시마네           三洋軒            산요켄
174     가가와        黄昏タンデム        타소가레탄데무
175     가가와    支那そば 讃岐ロック     시나소바 사누키로쿠

[176 rows x 3 columns]

In [125]:
kenname = pd.read_csv('./ken_name.csv')
kenname.head(5)

   knkor knjpn  knhira
0   가가와현   香川県   かがわけん
1  가고시마현  鹿児島県  かごしまけん
2  가나가와현  神奈川県  かながわけん
3    고치현   高知県   こうちけん
4    교토부   京都府   きょうとふ

In [126]:
kenname.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47 entries, 0 to 46
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   knkor   47 non-null     object
 1   knjpn   47 non-null     object
 2   knhira  47 non-null     object
dtypes: object(3)
memory usage: 1.2+ KB

In [127]:
kenname['knkor'][0][:-1]

'가가와'

In [128]:
kenname['knkor'] = kenname['knkor'].apply(lambda x : x[:-1])

In [129]:
kenname.head()

  knkor knjpn  knhira
0   가가와   香川県   かがわけん
1  가고시마  鹿児島県  かごしまけん
2  가나가와  神奈川県  かながわけん
3    고치   高知県   こうちけん
4    교토   京都府   きょうとふ

In [130]:
kenkor2jpn = dict(zip(kenname['knkor'], kenname['knjpn']))

In [131]:
kenkor2jpn['오사카']

'大阪府'

In [132]:
def wordchange(x):
    if x == '치바':
        x = '지바'
        return x
    else:
        pass

In [133]:
data2['dohuken'] == data2['dohuken'].apply(lambda x : wordchange(x))

0      False
1      False
2      False
3      False
4      False
       ...
171    False
172    False
173    False
174    False
175    False
Name: dohuken, Length: 176, dtype: bool

In [134]:
data2

    dohuken     jshopname      kshopname
0       오사카          麦と麺助         무기토멘스케
1       오사카    世界一暇なラーメン屋    세카이이치히마나라멘야
2       오사카  烈志笑魚油 麺香房 三く             산쿠
3       오사카         燃えよ麺助        모에요 멘스케
4       오사카  くそオヤジ最後のひとふり  쿠소오야지사이고노히토후리
..      ...           ...            ...
171     돗토리          いのよし           이노요시
172     시마네           空海            구우카이
173     시마네           三洋軒            산요켄
174     가가와        黄昏タンデム        타소가레탄데무
175     가가와    支那そば 讃岐ロック     시나소바 사누키로쿠

[176 rows x 3 columns]

In [135]:
data2.loc[data2['dohuken'] == '치바', ['dohuken']] = '지바'

In [136]:
data2.loc[data2['dohuken'] == '쿠마모토', ['dohuken']] = '구마모토'

In [137]:
data2.loc[data2['dohuken'] == '나고야', ['dohuken']] = '아이치'

In [138]:
data2.loc[data2['dohuken'] == '지바', ['dohuken']]

   dohuken
40      지바
58      지바
59      지바
60      지바

In [139]:
data2['dohukenjpn'] = data2['dohuken'].apply(lambda x : kenkor2jpn[x])

In [141]:
data2 = data2[['dohukenjpn', 'jshopname', 'dohuken', 'kshopname']]

In [142]:
data2

    dohukenjpn     jshopname dohuken      kshopname
0          大阪府          麦と麺助     오사카         무기토멘스케
1          大阪府    世界一暇なラーメン屋     오사카    세카이이치히마나라멘야
2          大阪府  烈志笑魚油 麺香房 三く     오사카             산쿠
3          大阪府         燃えよ麺助     오사카        모에요 멘스케
4          大阪府  くそオヤジ最後のひとふり     오사카  쿠소오야지사이고노히토후리
..         ...           ...     ...            ...
171        鳥取県          いのよし     돗토리           이노요시
172        島根県           空海      시마네           구우카이
173        島根県           三洋軒     시마네            산요켄
174        香川県        黄昏タンデム     가가와        타소가레탄데무
175        香川県    支那そば 讃岐ロック     가가와     시나소바 사누키로쿠

[176 rows x 4 columns]

가가와
가고시마
가나가와
고치
교토
구마모토
군마
기후
나가노
나가사키
나라
니가타
도야마
도치기
도쿄
도쿠시마
돗토리
미야기
미야자키
미에
사가
사이타마
시가
시마네
시즈오카
아오모리
아이치
아키타
야마가타
야마구치
야마나시
에히메
오사카
오이타
오카야마
오키나와
와카야마
이바라키
이시카와
이와테
지바
홋카이
효고
후쿠시마
후쿠오카
후쿠이
히로시마